/***************************************
*************** VARIABLES **************
****************************************/

$full-width: 100vw;
$full-height: 100vh;
$black-bg: #000;
$white-bg: #fff;

@media all and (max-width: 575px) {
    /***************************************
    **** ABOUT US PAGE MOBILE SETTINGS *****
    ****************************************/

    .background-image {
        background: $black-bg;
    }

    .individual-background {
        opacity: .7;
        width: $full-width;
    }

    .individual-text {
        position: absolute;
        top: 30vw;
        height: 20vh;
        padding-left: 50px;
        z-index: 999;
        font-size: 1vw;
        color: #FFF;
        font-weight: bold;
    }

    .individual-text h1 {
        font-size: 5vw;
    }

    .individual-text p {
        font-size: 2vw;
    }

    .about-text {
        height: 60vh;
    }

    .about-text p {
        font-size: 15px;
        text-align: center;
        padding-top: 50px;
    }
}

@media all and (max-width: 1199px) {
    /***************************************
    **** ABOUT US PAGE TABLET SETTINGS *****
    ****************************************/

    .background-image {
        background: $black-bg;
        /* height: 100vh; */
    }

    .individual-background {
        opacity: .7;
        width: $full-width;
    }

    .individual-text {
        position: absolute;
        top: 30vw;
        height: 30vh;
        padding-left: 100px;
        z-index: 999;
        font-size: 1vw;
        color: #FFF;
        font-weight: bold;
    }

    .individual-text h1 {
        font-size: 6vw;
    }

    .individual-text p {
        font-size: 2vw;
    }

    .about-text {
        height: 50vh;
    }

    .about-text p {
        font-size: 15px;
        text-align: center;
        padding-top: 50px;
    }

}

/***************************************
**** ABOUT US PAGE DESKTOP SETTINGS ****
****************************************/

@media all and (min-width: 1200px) {
    

    .background-image {
        background: $black-bg;
        /* height: 100vh; */
    }

    .individual-background {
        opacity: .7;
        width: $full-width;
    }

    .individual-text {
        position: absolute;
        top: 40vh;
        height: 30vh;
        padding-left: 100px;
        z-index: 999;
        font-size: 1vw;
        color: #FFF;
        font-weight: bold;
    }

    .individual-text h1 {
        font-size: 6vw;
    }

    .individual-text p {
        font-size: 2vw;
    }

    .about-text {
        height: 40vh;
    }

    .about-text p {
        font-size: 20px;
        text-align: center;
        padding-top: 50px;
    }
}