/***************************************
*************** VARIABLES **************
****************************************/

$full-width: 100vw;
$full-height: 100vh;
$black-bg: #000;
$white-bg: #fff;

/***************************************
***** CONTACT PAGE MOBILE SETTINGS *****
****************************************/

@media all and (max-width: 575px) {
    
    

    .contact-div img {
        width: $full-width;
        height: $full-height;
    }

    .normal-content {
        display: none;
    }

    .mobile-content {
        display: block;
    }

    .mobile-content .row {
        margin: 0;
    }

    .mobile-content img {
        width: $full-width;
    }

    iframe {
        width: 90vw;
        height: 40vh;
    }
}

/***************************************
***** CONTACT PAGE TABLET SETTINGS *****
****************************************/

@media all and (max-width: 1199px) {
   

    .normal-content {
        display: none;
    }

    .mobile-content {
        display: block;
    }

    .mobile-content .row {
        margin: 0;
    }

    .contact-background {
        height: 70vh;
    }

    .mobile-content img {
        width: $full-width;
    }

    .contact-title {
        padding: 30px;
    }

    .contact-content {
        padding: 0 30px;
    }

    .contact-map {
        padding: 20px;
    }

    iframe {
        width: 90vw;
        height: 80vh;
    }
}

/***************************************
**** CONTACT PAGE DESKTOP SETTINGS *****
****************************************/

@media all and (min-width: 1200px) {
    

    .contact-page {
        overflow: hidden;
    }

    .contact-div {
        padding: 0;
    }

    .contact-div img {
        width: 60vw;
    }

    .contact-title {
        padding: 100px 20px 20px 50px;
    }

    .contact-content {
        padding: 20px 20px 0 50px;
    }

    .contact-map {
        padding: 50px 20px 0 50px;
    }

    .mobile-content {
        display: none;
    }

    iframe {
        width: 45vw;
        height: 60vh;
    }
}