/***************************************
*************** VARIABLES **************
****************************************/

$full-width: 100vw;
$full-height: 100vh;
$black-bg: #000;
$white-bg: #fff;

#panel,
#flip {
    padding: 12px 15px;
    background-color: $black-bg;
    color: $white-bg;
}

#panel {
    display: none;
    width: $full-width;
    height: $full-height;
    font-size: 3vw;
    overflow: hidden;
}

#panel a {
    color: $white-bg;
    text-decoration: none;
    margin-top: 40vh;
    margin-left: 50px;
}

#panel a:hover {
   border-bottom: 1px solid $white-bg;
}



#flip {
    opacity: .7;
    border-radius: 50%;
}