/***************************************
*************** VARIABLES **************
****************************************/

$full-width: 100vw;
$full-height: 100vh;
$black-bg: #000;
$white-bg: #fff;

/***************************************
******* HOMEPAGE MOBILE SETTINGS *******
****************************************/

@media all and (max-width: 575px) {

    .outer-wrapper {
        width: $full-width;
        height: $full-height;
        transform-origin: top left;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        scrollbar-width: none;
        -ms-overflow-style: none;
        transform: none;
    }

    .slide-background {
        width: $full-width;
    }

    .wrapper {
        display: block;
        background: $black-bg;
        width: 500vw;
        transform-origin: top left;
        transform: none;
    }

    .slide-text {
        position: absolute;
        width: 90vw;
    }

    .one .slide-text {
        top: 60vh;
    }

    .two .slide-text {
        top: 160vh;
    }

    .three .slide-text {
        top: 260vh;
    }

    .four .slide-text {
        top: 360vh;
    }

    .five .slide-text {
        top: 460vh;
    }
}

/***************************************
******* HOMEPAGE TABLET SETTINGS *******
****************************************/

@media all and (max-width: 1199px) {
    
    .slide-background {
        width: 50vw;
        height: $full-height;
        background: $black-bg;
        opacity: .7;
    }

    .outer-wrapper {
        width: $full-height;
        height: $full-width;
        transform: rotate(-90deg) translateX(-100vh);
        transform-origin: top left;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        background: $black-bg;
        width: 250vw;
        transform: rotate(90deg) translateY(-100vh);
        transform-origin: top left;
    }

    .slide-text {
        width: 40vw;
    }
}

/***************************************
****** HOMEPAGE DESKTOP SETTINGS *******
****************************************/

@media all and (min-width: 1200px) {

    .slide-background {
        width: 33.5vw;
        height: $full-height;
        background: $black-bg;
        opacity: .7;
        z-index: -1;
    }

    .outer-wrapper {
        width: $full-height;
        height: $full-width;
        transform: rotate(-90deg) translateX(-100vh);
        transform-origin: top left;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        background: $black-bg;
        width: 167.5vw;
        transform: rotate(90deg) translateY(-100vh);
        transform-origin: top left;
    }

    .slide-text {
        width: 30vw;
    }
}