/***************************************
*************** VARIABLES **************
****************************************/

$full-width: 100vw;
$full-height: 100vh;
$black-bg: #000;
$white-bg: #fff;

/***************************************
**** PRODUCTS PAGE MOBILE SETTINGS *****
****************************************/

@media all and (max-width: 575px) {

    .background-place {
        height: 30vh;
    }

    .products {
        text-align: center;
    }

    .products-place {
        background: $white-bg;
        padding: 20px;
    }

    .name-price-div {
        margin: 10px 0 10px 10px;
        display: block;
    }
}

/***************************************
**** PRODUCTS PAGE TABLET SETTINGS *****
****************************************/

@media all and (max-width: 1199px) {

    .background-place {
        height: 100vh;
    }

    .products {
        text-align: center;
    }

    .products-place {
        background: $white-bg;
        padding: 20px;
    }

    .name-price-div {
        margin: 10px 0 10px 10px;
        display: block;
    }
}

/***************************************
**** PRODUCTS PAGE DESKTOP SETTINGS ****
****************************************/

@media all and (min-width: 1200px) {

    .background-place {
        height: 80vh;
    }

    .products {
        text-align: center;
    }

    .products-place {
        background: $white-bg;
        padding: 20px;
    }

    .name-price-div {
        margin: 10px 0 10px 10px;
        display: block;
    }
}