/***************************************
**************** IMPORTS ***************
****************************************/
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import 'header';
@import 'homepage';
@import 'product_page';
@import 'about_page';
@import 'contact_page';

/***************************************
************ GLOBAL SETTINGS ***********
****************************************/

body {
    margin: 0;
}

.row {
    margin: 0;
}

/***************************************
******** HEADER GLOBAL SETTINGS ********
****************************************/

.header a {
    position: fixed;
    z-index: 999;
    top: 3vh;
}

.header-button-left {
    left: 2vw;
}

.header-button-right {
    right: 2vw;
}


/***************************************
******* HOMEPAGE GLOBAL SETTINGS *******
****************************************/

.slide-background :hover {
    opacity: .6;
    -webkit-transition: all 1s;
}

::-webkit-scrollbar {
    display: none;
}

.slide img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

/***************************************
**** SLIDE TEXT & POSITION SETTINGS ****
****************************************/

.slide-text {
    position: fixed;
    top: 60vh;
    height: 30vh;
    padding-left: 30px;
    z-index: 999;
    font-size: 15px;
    color: #FFF;
    font-weight: bold;
}

/***************************************
*** INDIVIDUAL PAGES GLOBAL SETTINGS ***
****************************************/

.individual-background {
    opacity: .7;
}

.text-section {
    background: blanchedalmond;
}